n8n工作流/01_外贸客服问答_最小可用版.json
{
  "name": "外贸客服问答-最小可用版",
  "active": false,
  "nodes": [
    {
      "id": "ft-rag-qa-0001",
      "name": "Webhook 问答入口",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -1220,
        260
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "rag/foreign-trade-kefu",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "rag-foreign-trade-kefu"
    },
    {
      "id": "ft-rag-qa-0002",
      "name": "Code 整理问答请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        260
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst sessionId = String(body.session_id || body.sessionId || `ft-${Date.now()}`);\nconst question = String(body.question || \"\").trim();\nif (!question) {\n  throw new Error(\"question 不能为空\");\n}\nconst history = Array.isArray(body.history) ? body.history : [];\nconst topKRaw = Number(body.top_k ?? body.topK ?? 5);\nconst topK = Number.isFinite(topKRaw) ? Math.max(1, Math.min(topKRaw, 10)) : 5;\nconst kbScope = Array.isArray(body.kb_scope) && body.kb_scope.length\n  ? body.kb_scope.map((item) => String(item))\n  : [\"faq\", \"policy\", \"product\"];\nreturn [{\n  json: {\n    tenant_id: String(body.tenant_id || body.tenantId || \"foreign_trade_demo\"),\n    session_id: sessionId,\n    question,\n    history,\n    kb_scope: kbScope,\n    mode: String(body.mode || \"qa\"),\n    top_k: topK\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0003",
      "name": "HTTP 调 Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -700,
        260
      ],
      "notesInFlow": true,
      "notes": "这里直接调用 Gateway Runner。Gateway 内部已经接好了 qmd 检索和大模型回答。",
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.GATEWAY_RUNNER_BASE_URL || 'http://host.docker.internal:8765') + '/gateways/rag_kefu_gateway/query' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "={{ $env.RAG_KEFU_GATEWAY_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { tenant_id: $json.tenant_id, session_id: $json.session_id, question: $json.question, history: $json.history, kb_scope: $json.kb_scope, mode: $json.mode, top_k: $json.top_k } }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "ft-rag-qa-0004",
      "name": "Code 规范问答结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        260
      ],
      "parameters": {
        "jsCode": "const payload = $input.first().json || {};\nconst request = $(\"Code 整理问答请求\").first().json;\nif (payload.status && payload.answer !== undefined) {\n  return [{\n    json: {\n      tenant_id: request.tenant_id,\n      session_id: request.session_id,\n      question: request.question,\n      status: String(payload.status),\n      answer: String(payload.answer || \"\"),\n      sources: Array.isArray(payload.sources) ? payload.sources : [],\n      handoff_required: Boolean(payload.handoff_required),\n      confidence: String(payload.confidence || \"low\"),\n      reason: payload.reason || null,\n      answer_mode: String(payload.answer_mode || \"rule\"),\n      llm_model: payload.llm_model || null,\n      retrieval_backend: payload.retrieval_backend || null,\n      used_llm: Boolean(payload.used_llm),\n      next_action: payload.next_action || null,\n      timings: payload.timings || {}\n    }\n  }];\n}\nconst detail = payload.message || payload.error || payload.description || \"gateway_unavailable\";\nreturn [{\n  json: {\n    tenant_id: request.tenant_id,\n    session_id: request.session_id,\n    question: request.question,\n    status: \"blocked\",\n    answer: \"当前问答服务暂时不可用，请稍后重试或转人工处理。\",\n    sources: [],\n    handoff_required: true,\n    confidence: \"low\",\n    reason: \"gateway_unavailable\",\n    answer_mode: \"rule\",\n    llm_model: null,\n    retrieval_backend: null,\n    used_llm: false,\n    next_action: \"retry_or_human\",\n    timings: {},\n    debug_detail: String(detail)\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0005",
      "name": "If Answered",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ft-rag-answered",
              "leftValue": "={{ $json.status }}",
              "rightValue": "answered",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "ft-rag-qa-0006",
      "name": "Code Answered 响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        80
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    tenant_id: item.tenant_id,\n    session_id: item.session_id,\n    status: \"answered\",\n    answer: item.answer,\n    sources: Array.isArray(item.sources) ? item.sources : [],\n    handoff_required: Boolean(item.handoff_required),\n    confidence: item.confidence || \"high\",\n    reason: item.reason || null,\n    answer_mode: item.answer_mode || \"llm\",\n    llm_model: item.llm_model || null,\n    retrieval_backend: item.retrieval_backend || null,\n    used_llm: Boolean(item.used_llm),\n    next_action: item.next_action || \"respond\",\n    timings: item.timings || {}\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0007",
      "name": "If Handoff",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ft-rag-handoff",
              "leftValue": "={{ $json.status }}",
              "rightValue": "handoff",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "ft-rag-qa-0008",
      "name": "Code Handoff 响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        260
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    tenant_id: item.tenant_id,\n    session_id: item.session_id,\n    status: \"handoff\",\n    answer: item.answer || \"这个问题需要人工客服进一步处理。\",\n    sources: Array.isArray(item.sources) ? item.sources : [],\n    handoff_required: true,\n    confidence: item.confidence || \"low\",\n    reason: item.reason || \"high_risk_question\",\n    answer_mode: item.answer_mode || \"rule\",\n    llm_model: item.llm_model || null,\n    retrieval_backend: item.retrieval_backend || null,\n    used_llm: Boolean(item.used_llm),\n    next_action: \"human_service\",\n    timings: item.timings || {}\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0009",
      "name": "If Fallback",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        440
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-ft-rag-fallback",
              "leftValue": "={{ $json.status }}",
              "rightValue": "fallback",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        }
      }
    },
    {
      "id": "ft-rag-qa-0010",
      "name": "Code Fallback 响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        440
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    tenant_id: item.tenant_id,\n    session_id: item.session_id,\n    status: \"fallback\",\n    answer: item.answer || \"当前知识库里没有足够证据回答这个问题，建议换个问法或转人工处理。\",\n    sources: Array.isArray(item.sources) ? item.sources : [],\n    handoff_required: Boolean(item.handoff_required),\n    confidence: item.confidence || \"low\",\n    reason: item.reason || \"no_evidence\",\n    answer_mode: item.answer_mode || \"rule\",\n    llm_model: item.llm_model || null,\n    retrieval_backend: item.retrieval_backend || null,\n    used_llm: Boolean(item.used_llm),\n    next_action: item.next_action || \"rephrase\",\n    timings: item.timings || {}\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0011",
      "name": "Code Blocked 响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        620
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{\n  json: {\n    tenant_id: item.tenant_id,\n    session_id: item.session_id,\n    status: item.status || \"blocked\",\n    answer: item.answer || \"当前请求暂时无法处理，请稍后再试或转人工。\",\n    sources: Array.isArray(item.sources) ? item.sources : [],\n    handoff_required: item.handoff_required !== undefined ? Boolean(item.handoff_required) : true,\n    confidence: item.confidence || \"low\",\n    reason: item.reason || \"blocked\",\n    answer_mode: item.answer_mode || \"rule\",\n    llm_model: item.llm_model || null,\n    retrieval_backend: item.retrieval_backend || null,\n    used_llm: Boolean(item.used_llm),\n    next_action: item.next_action || \"retry_or_human\",\n    timings: item.timings || {}\n  }\n}];"
      }
    },
    {
      "id": "ft-rag-qa-0012",
      "name": "Respond JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        360,
        260
      ],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ $json }}"
      }
    }
  ],
  "connections": {
    "Webhook 问答入口": {
      "main": [
        [
          {
            "node": "Code 整理问答请求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 整理问答请求": {
      "main": [
        [
          {
            "node": "HTTP 调 Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP 调 Gateway": {
      "main": [
        [
          {
            "node": "Code 规范问答结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code 规范问答结果": {
      "main": [
        [
          {
            "node": "If Answered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Answered": {
      "main": [
        [
          {
            "node": "Code Answered 响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Answered 响应": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Handoff": {
      "main": [
        [
          {
            "node": "Code Handoff 响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Handoff 响应": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Fallback": {
      "main": [
        [
          {
            "node": "Code Fallback 响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Blocked 响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Fallback 响应": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Blocked 响应": {
      "main": [
        [
          {
            "node": "Respond JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "versionId": "2f9a8d50-4c72-47e7-a24f-5c2f4a506101",
  "meta": {
    "instanceId": "local-dev"
  },
  "id": "XwFAavEFCbU5Q0c6",
  "tags": []
}
